# Virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Logs
*.log

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# SQLite (if any)
*.sqlite3
